<template>
  <v-container id="user-type-register" fluid tag="section">
    <v-row justify="center">
      <v-col cols="6" md="6">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Tipo de usuário</div>
            <div class="subtitle-1 font-weight-light">Cadastro de tipo de usuário</div>
          </template>
          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-col cols="12" md="12">
                  <v-text-field
                    color="secondary"
                    v-model="user_type.name"
                    :counter="45"
                    label="Nome *"
                    hint="Informe o nome para este tipo de usuário"
                    :rules="[controller.rules.required]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row justify="space-between">
                <v-btn color="orange" @click="voltar">Cancelar</v-btn>
                <v-progress-circular
                  indeterminate
                  color="secondary"
                  v-if="loading"
                ></v-progress-circular>
                <v-btn :disabled="!valid || loading" color="info" @click="register">
                  registrar
                </v-btn>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      dense
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import UserTypeController from "../../../app/controllers/UserTypeController";

export default {
  name: "user-type-register",
  data: () => ({
    valid: true,
    loading: false,
    notification: false,
    typeAlert: "success",
    message: "",
    controller: new UserTypeController(),
    user_type: new UserTypeController().user_typeModel(),
  }),
  methods: {
    voltar() {
      this.$router.go(-1);
    },
    register() {
      this.loading = true;
      this.controller.register(this.user_type).then((response) => {
        if (response.statusCode === 201) {
          this.message = "Tipo de usuário cadastrado com sucesso.";
          this.typeAlert = "info";
          setTimeout(() => this.$router.replace({ name: "user-types-list" }), 2000);
        } else {
          this.typeAlert = "error";
          this.message = "Erro ao cadastrar o tipo de usuário.";
        }
        this.notification = true;
        this.loading = false;
      });
    },
  },
};
</script>
