<template>
  <v-container id="client-register" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Usuário</div>
            <div class="subtitle-1 font-weight-light">Cadastro de usuário</div>
          </template>
          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-col cols="6" md="6">
                  <v-text-field
                    v-model="user.name"
                    :counter="100"
                    label="Nome *"
                    hint="Informe seu nome"
                    :rules="[controller.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col cols="6" md="6">
                  <v-text-field
                    v-model="user.email"
                    :counter="100"
                    label="E-mail *"
                    hint="Informe seu email"
                    :rules="[controller.rules.required, controller.rules.emailRules]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="user.cpf"
                    type="number"
                    label="CPF"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="user.phone"
                    type="number"
                    label="Telefone"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="user.celphone"
                    type="number"
                    label="Celular"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="user.password"
                    label="Senha"
                    min="6"
                    type="password"
                    :rules="[
                      controller.rules.required,
                      controller.rules.minCaracterPassword,
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="user.password_confirmation"
                    label="Confirme sua senha"
                    type="password"
                    :rules="
                      controller.validatorConfirmPassword(
                        user.password,
                        user.password_confirmation
                      )
                    "
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-select
                    v-model="user.user_type_id"
                    :items="userTypes"
                    label="Tipo de usuário *"
                    required
                    item-value="id"
                    item-text="name"
                    return-value
                    :rules="[controller.rules.required]"
                  />
                </v-col>
              </v-row>
              <base-material-card>
                <template v-slot:heading>
                  <div class="subtitle-1 font-weight-light">Endereço</div>
                </template>
                <v-row>
                  <v-col cols="3" md="3">
                    <v-text-field
                      type="number"
                      color="secondary"
                      v-model="user.address.cep"
                      :counter="8"
                      label="CEP *"
                      hint="Informe seu cep"
                      placeholder="Somente números"
                      :rules="[controller.rules.required]"
                      v-on:blur="requestFullAddress"
                    ></v-text-field>
                    <a
                      href="http://www.buscacep.correios.com.br/sistemas/buscacep/"
                      style="text-decoration: none; font-size: 0.85rem"
                      target="_blank"
                      >Não sei meu cep</a
                    >
                  </v-col>
                  <v-col cols="3" md="3">
                    <v-text-field
                      type="number"
                      color="secondary"
                      v-model="user.address.numero"
                      label="Número *"
                      hint="Informe o número"
                      :rules="[controller.rules.required]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6" md="6">
                    <v-text-field
                      color="secondary"
                      v-model="user.address.complemento"
                      :counter="45"
                      label="Complemento"
                      hint="Informe o complemento do seu endereço"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="7" md="7">
                    <v-text-field
                      color="secondary"
                      v-model="user.address.logradouro"
                      label="Rua/Avenida *"
                      disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="5" md="5">
                    <v-text-field
                      color="secondary"
                      v-model="user.address.bairro"
                      label="Bairro *"
                      disabled
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6" md="6">
                    <v-text-field
                      color="secondary"
                      v-model="user.address.localidade"
                      label="Cidade *"
                      disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2" md="2">
                    <v-text-field
                      color="secondary"
                      v-model="user.address.uf"
                      label="UF *"
                      disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2" md="2">
                    <v-text-field
                      color="secondary"
                      v-model="user.address.ddd"
                      label="Código DDD *"
                      disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2" md="2">
                    <v-text-field
                      color="secondary"
                      v-model="user.address.ibge"
                      label="Código IBGE *"
                      disabled
                    ></v-text-field>
                  </v-col>
                </v-row>
              </base-material-card>
              <v-row class="mt-3" justify="space-between">
                <v-btn color="orange" @click="voltar">Cancelar</v-btn>
                <v-progress-circular
                  indeterminate
                  color="secondary"
                  v-if="loading"
                ></v-progress-circular>
                <v-btn :disabled="!valid || loading" color="info" @click="register">
                  registrar
                </v-btn>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      dense
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import UserController from "../../../app/controllers/UserController";

import UserTypeController from "../../../app/controllers/UserTypeController";

import AddressController from "../../../app/controllers/AddressController";

export default {
  name: "user-register",
  data: () => ({
    valid: true,
    loading: false,
    notification: false,
    typeAlert: "success",
    message: "",
    controller: new UserController(),
    addressController: new AddressController(),
    userTypeController: new UserTypeController(),
    user: new UserController().userModel(),
    userTypes: [],
  }),
  created() {
    this.getUserTypesDataFromApi();
  },
  methods: {
    voltar() {
      this.$router.go(-1);
    },
    newInscription() {
      this.$router.push({
        name: "inscription-form",
      });
    },
    requestFullAddress() {
      this.loading = true;
      this.addressController
        .getFullAddressFromApi(this.user.address.cep)
        .then((address) => {
          if (address.logradouro !== null) {
            this.user.address.logradouro = address.logradouro;
            this.user.address.bairro = address.address;
            this.user.address.localidade = address.localidade;
            this.user.address.bairro = address.bairro;
            this.user.address.uf = address.uf;
            this.user.address.ddd = address.ddd;
            this.user.address.ibge = address.ibge;
          } else {
            this.typeAlert = "error";
            this.message = "CEP não encontrado";
            this.notification = true;
            this.loading = false;
          }
          this.loading = false;
        });
    },
    getUserTypesDataFromApi() {
      this.loading = true;
      this.userTypeController.getAll().then((response) => {
        if (response.data) {
          this.userTypes = response.data;
        }
      });
      this.loading = false;
    },
    register() {
      this.loading = true;
      let user = Object.assign({}, this.user, this.user.address);
      this.$delete(user, "address");
      this.controller.register(user).then((response) => {
        if (response.statusCode === 201) {
          this.message = "Usuário cadastrado com sucesso.";
          this.typeAlert = "info";
          setTimeout(() => this.$router.replace({ name: "user-list" }), 2000);
        } else {
          this.typeAlert = "error";
          this.message = "Erro ao cadastrar o usuário.";
        }
        this.notification = true;
        this.loading = false;
      });
    },
  },
};
</script>
