<template>
  <v-container id="clients" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Usuários</div>

            <div class="subtitle-1 font-weight-light">
              Listagem de usuários cadastrados
            </div>
          </template>
          <br />
          <v-row justify="space-between">
            <v-col cols="1"> </v-col>
            <v-col cols="5">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Pesquisar"
                hide-details
                color="secondary"
              >
              </v-text-field>
            </v-col>
            <v-col cols="2">
              <v-btn color="blue" @click="newUser">Novo</v-btn>
            </v-col>
          </v-row>

          <v-data-table
            :headers="headers"
            :items="users"
            :loading="loading"
            loading-text="Carregando..."
            :search="search"
            class="elevation-1"
            :items-per-page="5"
          >
            <template v-slot:[`item.acoes`]="{ item }">
              <v-icon
                size="20"
                class="mr-2"
                color="info"
                title="Clique para EDITAR esse registro"
                @click="editItem(item)"
              >
                mdi-pencil
              </v-icon>
              <v-icon
                size="20"
                color="red"
                title="Clique para EXCLUIR esse registro"
                @click="deleteItem(item)"
              >
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </base-material-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialogDelete" max-width="600px">
      <v-card>
        <v-card-title class="headline"
          >Você realmente quer deletar esse registro?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false"> Não </v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm()"> Sim </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>

    <v-dialog v-model="dialog" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Editar dados do usuário</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col>
                <v-text-field
                  v-model="editedItem.name"
                  label="Nome"
                  :rules="[controller.rules.required]"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-text-field
                  v-model="editedItem.email"
                  label="E-mail"
                  :rules="[controller.rules.required]"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-select
                  v-model="editedItem.user_type_id"
                  :items="userTypes"
                  label="Tipo de usuário *"
                  required
                  item-value="id"
                  item-text="name"
                  return-value
                  :rules="[controller.rules.required]"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-text-field
                  v-model="editedItem.password"
                  label="Senha"
                  min="6"
                  type="password"
                  :rules="[
                    controller.rules.required,
                    controller.rules.minCaracterPassword,
                  ]"
                ></v-text-field>
              </v-col>
              <v-col>
                <v-text-field
                  v-model="editedItem.password_confirmation"
                  label="Confirme sua senha"
                  type="password"
                  :rules="
                    controller.validatorConfirmPassword(
                      editedItem.password,
                      editedItem.password_confirmation
                    )
                  "
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close"> Cancelar </v-btn>
          <v-btn color="blue darken-1" text @click="update"> Atualizar </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import UserController from "../../../app/controllers/UserController";
import UserTypeController from "../../../app/controllers/UserTypeController";

export default {
  data: () => ({
    loading: false,
    dialog: false,
    dialogDelete: false,
    notification: false,
    typeAlert: "success",
    message: "",
    search: "",
    users: [],
    userTypes: [],
    editedItem: {},
    editedIndex: -1,
    controller: new UserController(),
    userTypeController: new UserTypeController(),
    headers: [
      {
        text: "Nome",
        value: "name",
      },
      {
        text: "Tipo",
        value: "typeName",
      },
      {
        text: "E-mail",
        value: "email",
      },
      {
        text: "Ações",
        value: "acoes",
        sortable: false,
      },
    ],
  }),
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  created() {
    this.getDataFromApi();
  },
  methods: {
    newUser() {
      this.$router.push({
        name: "user-form",
      });
    },
    getUserTypesDataFromApi() {
      this.loading = true;
      this.userTypeController.getAll().then((response) => {
        if (response.data) {
          this.userTypes = response.data;
        }
      });
      this.loading = false;
    },

    getDataFromApi() {
      this.loading = true;
      this.controller.getAll().then((response) => {
        if (response.data) {
          for (let i = 0; i < response.data.length; i++) {
            response.data[i]["name"] = response.data[i].person.name;
            response.data[i]["typeName"] = response.data[i].user_type.name;
            response.data[i]["user_type_id"] = response.data[i].user_type.id;
          }
          this.users = response.data;
        }
      });
      this.loading = false;
    },

    update() {
      this.close();
      this.loading = true;
      this.controller.update(this.editedItem).then((response) => {
        if (response.statusCode === 200) {
          this.message = "Usuário atualizado com sucesso.";
          this.typeAlert = "info";
          this.getDataFromApi();
        } else {
          this.typeAlert = "error";
          this.message = response.message;
        }
        this.notification = true;
        this.loading = false;
      });
      if (this.editedIndex > -1) {
        Object.assign(this.users[this.editedIndex], this.editedItem);
      }
    },

    editItem(item) {
      this.getUserTypesDataFromApi();
      this.editedIndex = this.users.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.users.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.loading = true;
      this.controller.delete(this.editedItem).then((response) => {
        if (response.statusCode === 200) {
          this.typeAlert = "info";
          this.message = "Usuário removido com sucesso.";
          this.getDataFromApi();
        } else {
          this.typeAlert = "error";
          this.message = response.message;
        }
        this.dialogDelete = false;
        this.notification = true;
        this.getDataFromApi();
        this.loading = false;
      });
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
  },
};
</script>
