<template>
  <v-container id="curse-register" fluid tag="section">
    <v-row justify="center">
      <v-col cols="8" md="8">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Curso</div>
            <div class="subtitle-1 font-weight-light">Cadastro de curso</div>
          </template>
          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-text-field
                  color="secondary"
                  v-model="curse.name"
                  :counter="45"
                  label="Nome *"
                  hint="Informe o nome para o curso"
                  :rules="[controller.rules.required]"
                ></v-text-field>
              </v-row>
              <v-row>
                <v-text-field
                  color="secondary"
                  v-model="curse.description"
                  :counter="45"
                  label="Descrição *"
                  hint="Informe a descrição do curso"
                  :rules="[controller.rules.required]"
                ></v-text-field>
              </v-row>
              <v-row>
                <v-col cols="3" md="3">
                  <v-text-field
                    type="number"
                    color="secondary"
                    v-model="curse.value"
                    label="Valor mensal *"
                    hint="Informe o valor da mensalidade do curso"
                    :rules="[controller.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col cols="3" md="3">
                  <v-text-field
                    type="date"
                    color="secondary"
                    v-model="curse.date_start_registrations"
                    label="Data de início das inscrições *"
                    hint="Informe a data de início das inscrições"
                    :rules="[controller.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col cols="3" md="3">
                  <v-text-field
                    type="date"
                    color="secondary"
                    v-model="curse.date_end_registrations"
                    label="Data final das inscrições *"
                    hint="Informe a data fina das inscrições"
                    :rules="[controller.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col cols="3" md="3">
                  <v-text-field
                    type="number"
                    color="secondary"
                    v-model="curse.max_number_subscribers"
                    label="Número máximo de inscritos *"
                    hint="Informe o número máximo de inscrições"
                    :rules="[controller.rules.required]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row justify="space-between">
                <v-btn color="orange" @click="voltar">Cancelar</v-btn>
                <v-progress-circular
                  indeterminate
                  color="secondary"
                  v-if="loading"
                ></v-progress-circular>
                <v-btn :disabled="!valid || loading" color="info" @click="register">
                  registrar
                </v-btn>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      dense
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import CurseController from "../../../app/controllers/CurseController";

export default {
  name: "curse-register",
  data: () => ({
    valid: true,
    loading: false,
    notification: false,
    typeAlert: "success",
    message: "",
    controller: new CurseController(),
    curse: new CurseController().curseModel(),
  }),
  methods: {
    voltar() {
      this.$router.go(-1);
    },
    register() {
      this.loading = true;
      this.controller.register(this.curse).then((response) => {
        if (response.statusCode === 201) {
          this.message = "Curso cadastrado com sucesso.";
          this.typeAlert = "info";
          setTimeout(() => this.$router.replace({ name: "curse-list" }), 2000);
        } else {
          this.typeAlert = "error";
          this.message = "Erro ao cadastrar o curso.";
        }
        this.notification = true;
        this.loading = false;
      });
    },
  },
};
</script>
