<template>
  <v-container id="inscription-register" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Inscrição</div>
            <div class="subtitle-1 font-weight-light">Cadastro de inscrição</div>
          </template>
          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-col cols="6" md="6">
                  <v-text-field
                    color="secondary"
                    v-model="inscription.user.name"
                    :counter="100"
                    label="Nome *"
                    hint="Informe seu nome"
                    :rules="[controller.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col cols="6" md="6">
                  <v-text-field
                    v-model="inscription.user.email"
                    :counter="100"
                    label="E-mail *"
                    hint="Informe seu email"
                    :rules="[controller.rules.required, controller.rules.emailRules]"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-select
                    v-model="inscription.curse_id"
                    :items="curses"
                    label="Escolha o curso *"
                    required
                    item-value="id"
                    item-text="name"
                    return-value
                    :rules="[controller.rules.required]"
                  />
                </v-col>
                <v-col cols="6" md="6">
                  <v-text-field
                    color="secondary"
                    v-model="inscription.company"
                    :counter="45"
                    label="Empresa *"
                    hint="Informe a empresa"
                    :rules="[controller.rules.required]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="inscription.user.cpf"
                    type="number"
                    label="CPF"
                    :rules="[controller.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="inscription.user.phone"
                    type="number"
                    label="Telefone"
                    :rules="[controller.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="inscription.user.celphone"
                    type="number"
                    label="Celular"
                    :rules="[controller.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="inscription.user.password"
                    label="Senha"
                    min="6"
                    type="password"
                    :rules="[
                      controller.rules.required,
                      controller.rules.minCaracterPassword,
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="inscription.user.password_confirmation"
                    label="Confirme sua senha"
                    type="password"
                    :rules="
                      controller.validatorConfirmPassword(
                        inscription.user.password,
                        inscription.user.password_confirmation
                      )
                    "
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-select
                    v-model="inscription.user.user_type_id"
                    :items="userTypes"
                    label="Tipo de usuário *"
                    required
                    item-value="id"
                    item-text="name"
                    return-value
                    :rules="[controller.rules.required]"
                  />
                </v-col>
              </v-row>
              <base-material-card>
                <template v-slot:heading>
                  <div class="subtitle-1 font-weight-light">Endereço</div>
                </template>
                <v-row>
                  <v-col cols="3" md="3">
                    <v-text-field
                      type="number"
                      color="secondary"
                      v-model="inscription.user.address.cep"
                      :counter="8"
                      label="CEP *"
                      hint="Informe seu cep"
                      placeholder="Somente números"
                      :rules="[controller.rules.required]"
                      v-on:blur="requestFullAddress"
                    ></v-text-field>
                    <a
                      href="http://www.buscacep.correios.com.br/sistemas/buscacep/"
                      style="text-decoration: none; font-size: 0.85rem"
                      target="_blank"
                      >Não sei meu cep</a
                    >
                  </v-col>
                  <v-col cols="3" md="3">
                    <v-text-field
                      type="number"
                      color="secondary"
                      v-model="inscription.user.address.numero"
                      label="Número *"
                      hint="Informe o número"
                      :rules="[controller.rules.required]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6" md="6">
                    <v-text-field
                      color="secondary"
                      v-model="inscription.user.address.complemento"
                      :counter="45"
                      label="Complemento"
                      hint="Informe o complemento do seu endereço"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="7" md="7">
                    <v-text-field
                      color="secondary"
                      v-model="inscription.user.address.logradouro"
                      label="Rua/Avenida *"
                      disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="5" md="5">
                    <v-text-field
                      color="secondary"
                      v-model="inscription.user.address.bairro"
                      label="Bairro *"
                      disabled
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6" md="6">
                    <v-text-field
                      color="secondary"
                      v-model="inscription.user.address.localidade"
                      label="Cidade *"
                      disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2" md="2">
                    <v-text-field
                      color="secondary"
                      v-model="inscription.user.address.uf"
                      label="UF *"
                      disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2" md="2">
                    <v-text-field
                      color="secondary"
                      v-model="inscription.user.address.ddd"
                      label="Código DDD *"
                      disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2" md="2">
                    <v-text-field
                      color="secondary"
                      v-model="inscription.user.address.ibge"
                      label="Código IBGE *"
                      disabled
                    ></v-text-field>
                  </v-col>
                </v-row>
              </base-material-card>
              <v-row class="mt-3" justify="space-between">
                <v-btn color="orange" @click="voltar">Cancelar</v-btn>
                <v-progress-circular
                  indeterminate
                  color="secondary"
                  v-if="loading"
                ></v-progress-circular>
                <v-btn :disabled="!valid || loading" color="info" @click="action">{{
                  textBtnAction
                }}</v-btn>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      dense
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import InscriptionController from "../../../app/controllers/InscriptionController";

import AddressController from "../../../app/controllers/AddressController";

import UserTypeController from "../../../app/controllers/UserTypeController";

import CurseController from "../../../app/controllers/CurseController";

export default {
  name: "inscription-register",
  data: () => ({
    valid: true,
    loading: false,
    notification: false,
    typeAlert: "success",
    message: "",
    textBtnAction: "",
    controller: new InscriptionController(),
    addressController: new AddressController(),
    inscription: new InscriptionController().inscriptionModel(),
    curseController: new CurseController(),
    curses: [],
    userTypeController: new UserTypeController(),
    userTypes: [],
  }),
  created() {
    this.getUserTypesDataFromApi();
    this.getCursesDataFromApi();
  },
  mounted() {
    if (this.$route.params.inscription) {
      this.textBtnAction = "atualizar";

      let ins = Object.assign({}, this.$route.params.inscription);

      this.inscription.user.name = ins.name;
      this.inscription.user.email = ins.email;
      this.inscription.user.cpf = ins.cpf;
      this.inscription.user.phone = ins.user.person.phone;
      this.inscription.user.celphone = ins.user.person.celphone;
      this.inscription.user.address.logradouro = ins.user.person.address.logradouro;
      this.inscription.user.address.bairro = ins.user.person.address.bairro;
      this.inscription.user.address.cep = ins.user.person.address.cep;
      this.inscription.user.address.localidade = ins.user.person.address.localidade;
      this.inscription.user.address.numero = ins.user.person.address.numero;
      this.inscription.user.address.uf = ins.user.person.address.uf;
      this.inscription.user.address.ddd = ins.user.person.address.ddd;
      this.inscription.user.address.ibge = ins.user.person.address.ibge;
      this.inscription.user.address.complemento = ins.user.person.address.complemento;

      this.inscription.company = ins.company;
      this.inscription.id = ins.id;
      this.inscription.curse_id = ins.curse.id;
      this.inscription.user.user_type_id = ins.user.user_type.id;
    } else {
      this.textBtnAction = "cadastrar";
    }
  },
  methods: {
    action() {
      if (!this.$route.params.inscription) {
        this.register();
      } else {
        this.update();
      }
    },

    voltar() {
      this.$router.go(-1);
    },
    getCursesDataFromApi() {
      this.loading = true;
      this.curseController.getAll().then((response) => {
        if (response.data) {
          this.curses = response.data;
        }
      });
      this.loading = false;
    },
    getUserTypesDataFromApi() {
      this.loading = true;
      this.userTypeController.getAll().then((response) => {
        if (response.data) {
          this.userTypes = response.data;
        }
      });
      this.loading = false;
    },
    requestFullAddress() {
      this.loading = true;
      this.addressController
        .getFullAddressFromApi(this.inscription.user.address.cep)
        .then((address) => {
          if (address.logradouro !== null) {
            this.inscription.user.address.logradouro = address.logradouro;
            this.inscription.user.address.bairro = address.address;
            this.inscription.user.address.localidade = address.localidade;
            this.inscription.user.address.bairro = address.bairro;
            this.inscription.user.address.uf = address.uf;
            this.inscription.user.address.ddd = address.ddd;
            this.inscription.user.address.ibge = address.ibge;
          } else {
            this.typeAlert = "error";
            this.message = "CEP não encontrado";
            this.notification = true;
            this.loading = false;
          }
          this.loading = false;
        });
    },
    register() {
      this.loading = true;
      let inscription = Object.assign(
        {},
        this.inscription,
        this.inscription.user,
        this.inscription.user.address
      );
      this.$delete(inscription, "user");
      this.controller.register(inscription).then((response) => {
        if (response.statusCode === 201) {
          this.message = "Inscrição realizada com sucesso.";
          this.typeAlert = "info";
          setTimeout(() => this.$router.replace({ name: "inscription-list" }), 2000);
        } else {
          this.typeAlert = "error";
          this.message = "Erro ao realizar a inscrição.";
        }
        this.notification = true;
        this.loading = false;
      });
    },

    update() {
      this.loading = true;
      this.controller.update(this.inscription).then((response) => {
        if (response.statusCode === 200) {
          this.message = "Inscrição atualizada com sucesso.";
          this.typeAlert = "info";
          setTimeout(() => this.$router.replace({ name: "inscription-list" }), 2000);
        } else {
          this.typeAlert = "error";
          this.message = response.message;
        }
        this.notification = true;
        this.loading = false;
      });
      if (this.editedIndex > -1) {
        Object.assign(this.users[this.editedIndex], this.editedItem);
      }
    },
  },
};
</script>
