<template>
  <v-container id="inscriptions" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Inscrições</div>

            <div class="subtitle-1 font-weight-light">
              Listagem de inscriçes cadastradas
            </div>
          </template>
          <br />
          <v-row justify="space-between">
            <v-col cols="2">
              <v-btn color="blue" @click="newInscription">Novo</v-btn>
            </v-col>
            <v-col cols="5">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Pesquisar"
                hide-details
                color="secondary"
              >
              </v-text-field>
            </v-col>
            <v-col cols="3">
              <v-btn small color="orange">Exportar PDF</v-btn>
              <export-excel :data="inscriptions" name="inscricoes">
                <v-btn small color="green">Exportar Excel</v-btn>
              </export-excel>
            </v-col>
          </v-row>

          <v-data-table
            :headers="headers"
            :items="inscriptions"
            :loading="loading"
            loading-text="Carregando..."
            :search="search"
            class="elevation-1"
            :items-per-page="5"
          >
            <template v-slot:item.status="props">
              <v-edit-dialog
                :return-value.sync="props.item.status"
                @save="updateStatus(props.item)"
              >
                {{ props.item.status }}
                <template v-slot:input>
                  <v-text-field
                    v-model="props.item.status"
                    label="Edit"
                    single-line
                    counter
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:[`item.acoes`]="{ item }">
              <v-icon
                size="20"
                class="mr-2"
                color="info"
                title="Clique para EDITAR esse registro"
                @click="editItem(item)"
              >
                mdi-pencil
              </v-icon>
              <v-icon
                size="20"
                color="red"
                title="Clique para EXCLUIR esse registro"
                @click="deleteItem(item)"
              >
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </base-material-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialogDelete" max-width="600px">
      <v-card>
        <v-card-title class="headline"
          >Você realmente quer deletar esse registro?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false"> Não </v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm()"> Sim </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import InscriptionController from "../../../app/controllers/InscriptionController";

export default {
  data: () => ({
    loading: false,
    dialog: false,
    dialogDelete: false,
    notification: false,
    changeStatus: false,
    typeAlert: "success",
    message: "",
    search: "",
    inscriptions: [],
    status: ["Pago", "Cancelado", "Aguardando pagamento"],
    controller: new InscriptionController(),
    editedItem: {},
    headers: [
      {
        text: "Nome",
        value: "name",
      },
      {
        text: "Data da inscrição",
        value: "registration_date",
      },
      {
        text: "Categoria",
        value: "type",
      },
      {
        text: "CPF",
        value: "cpf",
      },
      {
        text: "E-mail",
        value: "email",
      },
      {
        text: "UF",
        value: "uf",
      },
      {
        text: "Status",
        value: "status",
      },
      {
        text: "Ações",
        value: "acoes",
        sortable: false,
      },
    ],
  }),
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  created() {
    this.getDataFromApi();
  },
  methods: {
    newInscription() {
      this.$router.push({
        name: "inscription-form",
      });
    },
    getDataFromApi() {
      this.loading = true;
      this.controller.getAll().then((response) => {
        if (response.data) {
          for (let i = 0; i < response.data.length; i++) {
            response.data[i]["name"] = response.data[i].user.person.name;
            response.data[i]["type"] = response.data[i].user.user_type.name;
            response.data[i]["cpf"] = response.data[i].user.person.cpf;
            response.data[i]["email"] = response.data[i].user.email;
            response.data[i]["uf"] = response.data[i].user.person.address.uf;
            response.data[i]["registration_date"] = this.controller.service.formatDate(
              response.data[i].registration_date
            );
          }
          this.inscriptions = response.data;
        }
      });
      this.loading = false;
    },
    editItem(item) {
      this.$router.push({
        name: "inscription-form",
        params: {
          inscription: item,
        },
      });
    },

    deleteItem(item) {
      this.editedIndex = this.inscriptions.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.loading = true;
      this.controller.delete(this.editedItem).then((response) => {
        if (response.statusCode === 200) {
          this.typeAlert = "info";
          this.message = "Inscrição removida com sucesso.";
          this.getDataFromApi();
        } else {
          this.typeAlert = "error";
          this.message = response.message;
        }
        this.dialogDelete = false;
        this.notification = true;
        this.getDataFromApi();
        this.loading = false;
      });
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
  },
};
</script>
